.recommend-movie-container{
    width: 100%;
    height: 100%;
}

.friend-list-wrapper{
    width: 100%;
    height: 100%;
}

.recommend-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.friend-button{
    width: 200px;
    height: 25px;
    background: none;
    color: #c4b016;  
    border: none;
    text-align: left;
    padding: 5px;
}

.friend-button:hover{
    background-color: #c4b016;
    color: black;
    border-radius: 5px;
}