.add-post-container {
  width: 100%;
  min-height: 850px;
  display: flex;
  padding: 50px;
  background-color: black;
  color: white;
  justify-content: center;
}
.add-post-container label {
  color: #c4b016;
}

.add-post-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-post-form input {
  width: 200px;
  height: 30px;
  background-color: #1c1b1d;
  border: none;
  border-radius: 5px;
  color: #c4b016;
}

.add-post-form textarea {
  width: 430px;
  height: 250px;
  background-color: #1c1b1d;
  border: none;
  border-radius: 5px;
  color: #c4b016;
  padding: 10px;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 700px;
  min-height: 500px;
  border: 1px solid #c4b016;
  padding: 20px;
  border-radius: 5px;
}

.add-post-form h1 {
  color: #c4b016;
}

.add-post-input-container {
  display: flex;
  width: 430px;
  justify-content: space-between;
}

.category-select {
  width: 200px;
  height: 30px;
  background-color: #1c1b1d;
  border: none;
  border-radius: 5px;
  color: #c4b016;
  padding: 3px;
}

.image-input {
  width: 430px;
  height: 30px;
}

.add-post-form-image-wrapper {
  display: flex;
  flex-direction: column;
  width: 430px;
}

.add-post-form-image-wrapper input {
  width: 430px;
  display: flex;
  align-items: center;
}

.image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.preview-image {
  width: 430px;
  height: 350px;
  object-fit: contain;
  background-color: white;
  border-radius: 5px;
}

.remove-image-button {
  width: 430px;
}

.add-post-button-wrapper {
  display: flex;
  width: 430px;
  justify-content: space-between;
}

.cancel-post-movie-button {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.submit-post-button {
  width: 200px;
  height: 30px;
  background-color: #e3cb14;
  border: none;
  color: black;
  border-radius: 5px;
}
